:root {
    --rotation: 5deg;
    --scale-growth: 1.2;
}

.button {
    position: relative;
    background-color: #0000;
    transition: background-color .5s;
    width: fit-content;
    height: fit-content;
    border-radius: 10%;
    text-align: center;
    cursor: pointer;
}

.image-frame {
    padding: 12%;
    background-color: var(--item-color);
    transition: border-radius .2s;
    border-radius: 25%;
    width: fit-content;
    height: fit-content;
}

.button:hover {
    background-color: var(--menu-color-1);
}

.button:hover>.image-frame,
.btn-selected>.image-frame {
    border-radius: 15%;
}

.button:hover>div>.img-btn-0 {
    transform: rotate(calc(-1 * var(--rotation))) scale(var(--scale-growth));
}

.button:hover>div>.img-btn-1,
.btn-selected>div>.image-button {
    transform: rotate(0deg) scale(1.1);
}

.button:hover>div>.img-btn-2 {
    transform: rotate(var(--rotation)) scale(var(--scale-growth));
}

.image-button {
    width: 100px;
    height: auto;
    margin: 0;
    transition: transform .25s;
}

.button>p {
    white-space: nowrap;
    font-weight: bold;
    font-size: 1.5em;
    transform: scale(1);
    transition: transform .25s;
}

.button.btn-selected>p {
    font-weight: bolder;
    transform: scale(1.1);
}