:root {
    --img-size: 100px;
    --padding-btn: 10px;
    --padding-image: 15px;
}

.button {
    position: relative;
    background-color: #0000;
    transition: background-color .5s;
    padding: var(--padding-btn);
    width: fit-content;
    height: fit-content;
    border-radius: calc(var(--img-size)/5);
    text-align: center;
    cursor: pointer;
}

.image-frame {
    background-color: var(--item-color);
    transition: border-radius .2s;
    width: fit-content;
    height: fit-content;
}

.button:hover {
    background-color: var(--menu-color-1);
}

.button:hover>.image-frame,
.selected>.image-frame {
    border-radius: calc(var(--img-size)/ 5);
}

.button:hover>div>.img-btn-0,
.selected>div>.img-btn-0 {
    transform: rotate(-5deg) scale(1.1);
}

.button:hover>div>.img-btn-1 {
    transform: rotate(0deg) scale(1.1);
}

.button:hover>div>.img-btn-2 {
    transform: rotate(5deg) scale(1.1);
}

.image-bouton {
    width: var(--img-size);
    height: var(--img-size);
    margin: 0;
    transition: transform .25s;
}

.btn-name {
    white-space: nowrap;
    font-weight: bold;
    font-size: calc(var(--img-size)/5);
}