:root {
  --menu-color-0: #EFE7D4;
  --menu-color-1: #E9DDC7;
  --item-color: #D2B394;
  --text-color: #000;
  --background-color: var(--menu-color-0);
  --text-shadow: 0px 0px 5px #000;
  --element-size: 100px;
  --tab-font-size: 1.6em;
  --image-size: 70px;
  --main-menu-icon-size: 200px;
  --main-menu-title-size: 3.5em;
  --main-menu-subtitle-size: 2em;
  --pointer-style: pointer;
}

@media (min-width: 2000px) {
  :root {
    --element-size: 150px;
    --tab-font-size: 1.7em;
    --image-size: 90px;
    --main-menu-icon-size: 300px;
    --main-menu-title-size: 4em;
    --main-menu-subtitle-size: 2.5em;
  }

}

body {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-color: var(--background-color);
  color: var(--text-color);
}

.slimepedia-app {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  gap: 20px;
  padding: 20px;
  box-sizing: border-box;
  overflow: hidden;
}

.slimepedia-logo {
  height: 350px;
  pointer-events: none;
}

.slimepedia-header {
  flex-grow: 5;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  text-shadow: 0px -1px 4px rgba(0, 0, 0, 0.39);
  overflow-y: hidden;
  transition: height .5s;
}

.slimepedia-header>h1 {
  margin: 0;
  padding: 0;
  font-size: 3em;
}

.slimepedia-header>h2>a {
  margin: 0;
  padding: 0;
  font-size: 1.5em;
  color: rgb(107, 107, 255);
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

.slimepedia-app>div:not(.pin-button) {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: stretch;
  gap: 20px;
  height: 100%;
  background-color: var(--menu-color-0);
  border-radius: 20px;
  padding: 20px;
  min-height: 0;
}

.box-layout {
  border-radius: 20px;
  background-color: var(--menu-color-0);
  padding: 20px;
}

.box-layout-secondary {
  border-radius: 20px;
  background-color: var(--menu-color-1);
  padding: 20px;
  margin: 10px;
}

nav {
  flex-shrink: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  overflow-x: hidden;
  height: fit-content;
}


.theme-btn-container {
  background-color: var(--menu-color-1);
  margin: -20px;
  padding: 20px;
  border-radius: 20px;
}