:root {
    --animation-speed: .2s;
    --hover-size: 150px;
    --small-text-size: 1.1em;
    --normal-text-size: 1.5em;
    --big-text-size: 2em;
    --img-size: 40px;
}

.spawn-list-container {
    position: relative;
    z-index: 2;
    background-color: var(--item-color);
    padding: 15px;
    border-radius: 20px;
    grid-area: spawn;
    overflow-x: hidden;
    overflow-y: auto;
}

.spawn-list-container>h3 {
    text-align: left;
    margin: 0 0 10px 15px;
    font-size: var(--big-text-size);
    overflow: hidden;
    height: 1lh;
    transition:
        margin var(--animation-speed) ease-in-out,
        font-size var(--animation-speed) ease-in-out,
        height var(--animation-speed) ease-in-out;
}

.biome-item {
    position: relative;
    display: flex;
    background-color: var(--item-color);
    border-radius: 20px;
    padding: 5px 10px;
    align-items: flex-start;
    height: var(--img-size);
    overflow: hidden;
    cursor: var(--pointer-style);
    transition:
        height var(--animation-speed) ease-in-out,
        padding var(--animation-speed) ease-in-out;
}

.biome-list-overlay {
    display: flex;
    height: fit-content;
    flex-flow: row nowrap;
    align-items: stretch;
    gap: 7px;
    transition: margin-top var(--animation-speed) ease-in-out;
}

.biome-name {
    font-size: var(--normal-text-size);
    margin: auto 0;
    text-shadow: none;
    vertical-align: middle;
    color: var(--text-color);
    transition:
        color var(--animation-speed) ease-in-out,
        text-shadow var(--animation-speed) ease-in-out,
        font-size var(--animation-speed) ease-in-out,
        margin-top var(--animation-speed) ease-in-out;
}

.spawn-list-container .hidden-title {
    font-size: 0px;
    height: 0;
    margin: 0;
}

.spawn-list-hover {
    height: fit-content;
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    gap: 0;
}

.biome-image {
    width: var(--img-size);
    height: var(--img-size);
    transform: scale(1);
    transition: transform var(--animation-speed) ease-in-out;
}

.spawn-list-hover:hover>.biome-item {
    padding: 0;
}

.spawn-list-hover:hover>div>div>.biome-image {
    transform: scale(.7);
}

.biome-item.biome-item-hover:hover>div>.biome-image {
    transform: scale(1.2);
}

.biome-item:hover>.biome-list-overlay {
    margin: 0;
    align-items: flex-start;
}

.biome-list-video {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%) scale(1.2);
    border-radius: 10px;
    z-index: -5;
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
    filter: opacity(0) blur(10px);
    transition: filter var(--animation-speed) 0s ease-in-out,
        transform var(--animation-speed) 0s ease-in-out;
}

.biome-item,
.biome-item>*:not(video) {
    z-index: 10;
}

.biome-item>* {
    pointer-events: none;
}

.biome-item:hover.biome-item {
    height: var(--hover-size);
    padding: 10px;
}

.biome-item:hover>.biome-list-video {
    z-index: 5;
    filter: opacity(1) blur(0);
    transform: translateY(-50%) scale(1);
    transition: filter var(--animation-speed) ease-in-out,
        transform var(--animation-speed) ease-in-out;
}

.biome-item.biome-item-hover:hover>div>.biome-name {
    color: white;
    font-size: var(--big-text-size);
    margin: auto 0;
    text-shadow: 0px 0px 5px #000;
}

.spawn-list-hover:hover>div>div>.biome-name {
    font-size: var(--small-text-size);
}

@media (min-width: 2000px) {
    :root {
        --hover-size: 250px;
        --small-text-size: 1.5em;
        --normal-text-size: 2em;
        --big-text-size: 2.5em;
        --img-size: 70px;
    }
}

@media (max-width: 1000px) {
    :root {
        --hover-size: 100px;
    }
}