:root {
    --infos-title-size: 1.2em;
    --infos-desc-size: 1em;
    --infos-gap: 10px;
}

.buildings-list {
    display: grid;
    margin: 0;
    padding: 10px;
    border-radius: 20px;
    background-color: var(--menu-color-1);
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.building-presentation {
    height: 100%;
    display: grid;
    --gap-presentation: 20px;
    gap: var(--gap-presentation);
    grid-template-columns: minmax(0, 2fr) 1fr 1fr;
    grid-template-rows: 2fr auto 2fr auto;
    grid-template-areas:
        "title desc desc"
        "title cost use"
        "title upgrade upgrade"
        "upgrade-list upgrade upgrade";
}

.building-title {
    grid-area: title;
    z-index: 12;
    margin: 0;
    padding: 10px;
    border-radius: 20px;
    background-color: var(--menu-color-1);
}

.building-title>h1 {
    font-size: 2.5em;
    font-weight: bold;
}

.building-title>h2 {
    font-size: 1.5em;
    font-weight: normal;
    font-style: italic;
}

.building-title>img {
    width: auto;
    height: 65%;
}

.building-description {
    grid-area: desc;
    margin: 0;
    padding: 10px;
    border-radius: 20px;
    background-color: var(--menu-color-1);
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 10px
}

.building-description>p {
    font-size: var(--infos-desc-size);
    font-weight: normal;
    font-style: normal;
    text-align: justify;
}

.building-description>img {
    width: 50px;
    height: auto;
}

.little-box-buildings {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    gap: var(--infos-gap);
    background-color: var(--menu-color-1);
    padding: 20px;
    border-radius: 20px;
    height: fit-content;
    grid-area: info;
    overflow: hidden;
}

.little-box-buildings>img {
    width: 50px;
    height: 50px;
}

.little-box-buildings>div {
    width: 100%;
}

.little-box-buildings>div>h3,
.little-box-buildings>div>h4 {
    text-align: left;
    margin: 0;
}

.little-box-buildings>div>h3 {
    font-size: var(--infos-title-size);
    font-weight: 700;
}

.little-box-buildings>div>h4 {
    font-size: var(--infos-desc-size);
    font-weight: 500;
}

.building-cost {
    grid-area: cost;
}

.building-use {
    grid-area: use;
}

.upgrade-list {
    position: relative;
    grid-area: upgrade-list;
    margin: 0 calc(-1 * var(--gap-presentation)) 0 0;
    padding: 10px;
    border-radius: 20px 0 0 20px;
    background-color: var(--menu-color-1);
    overflow: visible;
}

.upgrade-list>div:not(.fake-border) {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    gap: 10px;
    overflow-x: auto;
    overflow-y: hidden;
}

.upgrade-list>div>h2 {
    margin: 40px 0;
    font-size: 1.5em;
    width: 100%;
    font-weight: bold;
    text-align: center;
}

.fake-border {
    position: absolute;
    top: -20px;
    right: 0;
    width: 20px;
    height: 20px;
    background-color: white;
}

.fb-0 {
    z-index: 10;
    border-radius: 0;
    background-color: var(--menu-color-1);
}

.fb-1 {
    z-index: 11;
    border-radius: 0 0 20px 0;
    background-color: var(--menu-color-0);
}

.upgrade-infos {
    grid-area: upgrade;
    margin: 0;
    padding: 20px;
    border-radius: 20px 20px 20px 0;
    background-color: var(--menu-color-1);
}

.upgrade-infos-available {
    grid-area: upgrade;
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 1fr;
    grid-template-areas:
        'image title cost'
        'image desc desc';
}

.upgrade-no-infos {
    display: inline-block;
    position: relative;
}

.upgrade-no-infos>div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 0;
}

.upgrade-no-infos>div>img {
    width: 15vh;
    height: auto;
}

.upgrade-no-infos>div>h3 {
    margin: 20px 0;
    font-weight: bold;
    font-size: calc(var(--infos-title-size) * 1.5);
}

.upgrade-no-infos>div>p {
    margin: 0;
    font-weight: 500;
    font-size: calc(var(--infos-desc-size) * 1.2);
}

.upgrade-infos>div {
    padding: 20px;
}

.upgrade-img {
    grid-area: image;
    position: relative;
    margin: 0;
    border-radius: 20px;
    background-color: var(--item-color);
}

.upgrade-img>img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: auto;
}

.upgrade-title {
    grid-area: title;
    position: relative;
    border-radius: 20px;
    background-color: var(--item-color);
}

.upgrade-title>h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center;
    margin: 0;
    font-size: 1.5em;
    font-weight: bold;
}

.upgrade-cost {
    grid-area: cost;
    border-radius: 20px;
    background-color: var(--item-color);
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 3px;
}

.upgrade-cost>p {
    margin: 0;
    font-size: 1.5em;
    font-weight: 500;
}

.upgrade-cost>img {
    width: auto;
    height: 30px;
}

.upgrade-desc {
    grid-area: desc;
    border-radius: 20px;
    background-color: var(--item-color);
}

.upgrade-desc>h4 {
    margin: 0 0 10px 0;
    text-align: left;
    font-size: 1.3em;
    font-weight: bold;
}

.upgrade-desc>p {
    margin: 0;
    font-size: 1em;
    font-weight: normal;
    font-style: normal;
    text-align: justify;
}

@media (min-width: 2560px) {
    :root {
        --infos-title-size: 2em;
        --infos-desc-size: 1.5em;
        --infos-gap: 20px;
    }
    
    .building-description {
        padding: 40px;
        gap: 30px;
    }

    .building-description>p {
        font-size: 1.5em;
    }

    .building-description>img {
        width: 100px;
    }

    .upgrade-list>div>h2 {
        margin: 60px 0;
        font-size: 2em;
    }

    .upgrade-desc>p {
        font-size: 1.5em;
    }

    .upgrade-desc>h4 {
        font-size: 2em;
    }

    .upgrade-title>h3 {
        font-size: 2em;
    }

    .upgrade-cost>p {
        font-size: 2em;
    }
}