:root {
    --object-name-size: 2.5em;
    --object-subname-size: 1.3em;
    --little-box-title-size: 1.2em;
    --little-box-subtitle-size: 1em;
    --little-box-image-size: 50px;
    --little-box-gap: 15px;
    --pedia-title-size: 1.5em;
    --pedia-paragrah-size: 1em;
    --desc-title-img-size: 30px;
}

@media (min-width: 2000px) {
    :root {
        --object-name-size: 3.5em;
        --object-subname-size: 1.8em;
        --little-box-title-size: 1.7em;
        --little-box-subtitle-size: 1.4em;
        --little-box-image-size: 75px;
        --little-box-gap: 25px;
        --pedia-title-size: 2.1em;
        --pedia-paragrah-size: 1.5em;
        --desc-title-img-size: 40px;
    }
}


@media (max-width: 1600px) {

    .list-slime,
    .list-food {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.list-slime,
.list-food {
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 0;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: var(--menu-color-1);
    border-radius: 20px;
}

.list-slime {
    flex: 0 0 auto;
}

.list-food {
    margin: 0;
}

.slime-presentation {
    flex-grow: 2;
    width: 100%;
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    border-radius: 20px;
    background-color: var(--menu-color-1);
    padding: 20px;
}

.slime-infos {
    display: grid;
    overflow: hidden;
    height: 100%;
    transition:
        height .2s ease-in-out,
        padding .2s ease-in-out;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: auto auto 1fr;
    grid-template-areas:
        "image food fav"
        "image largo toy"
        "image spawn spawn";
    gap: 20px;
}

.food-presentation.hidden-infos,
.slime-infos.hidden-infos {
    height: 0;
    padding: 0;
}

.image-title {
    position: relative;
    background-color: var(--item-color);
    border-radius: 20px;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    gap: 10px;
    grid-area: image;
}

.info-title>h1,
.info-title>h2 {
    margin: 10px;
}

.info-title>h1 {
    font-size: var(--object-name-size);
    font-weight: bold;
}

.info-title>h2 {
    font-size: var(--object-subname-size);
    font-weight: normal;
    font-style: italic;
}

.image-container {
    position: relative;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
}

.img-plort {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 5vw;
    height: auto;
}

.img-plort.disabled {
    opacity: 0;
}

.img-main {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    flex: 1 1;
    transform: scale(.75) translate(0, -15%);
}

.img-main.disabled {
    opacity: 0;
}

.infos-box>div>p {
    margin: 10px 0;
    text-align: justify;
    line-height: 1;
    font-size: var(--pedia-paragrah-size);
}

.box-food {
    grid-area: food;
}

.box-fav {
    grid-area: fav;
}

.link-to-food {
    cursor: var(--pointer-style);
    transition: border-radius .3s;
}

.link-to-food:hover {
    border-radius: 10px;
}

.link-to-food>img {
    transition: transform .3s;
}

.link-to-food h3,
.link-to-food h4 {
    transition: color .3s;
}

.link-to-food:hover h3,
.link-to-food:hover h4 {
    color: #444;
}

.link-to-food:hover>img {
    transform: scale(1.2);
}

.box-largo {
    grid-area: largo;
}

.box-toy {
    grid-area: toy;
}

.newbuck {
    width: 15px;
    height: 15px;
    margin-left: 10px;
    margin-top: 0;
}


.arrow-btn {
    --taille-btn: 25px;
    width: var(--taille-btn);
    height: var(--taille-btn);
    padding: 10px;
    background-color: var(--menu-color-1);
    border-radius: var(--taille-btn);
    position: absolute;
    left: calc(50% - 10px);
    transition: all .3s;
    z-index: 10;
    cursor: var(--pointer-style);
}

.arrow-btn:hover {
    background-color: var(--item-color);
}

.arrow-btn:hover>img {
    filter: brightness(.7);
}

.arrow-btn>img {
    transform: translateY(50%) scale(1.1);
    width: 100%;
    height: auto;
}

.top-btn {
    bottom: 100%;
    transform: translate(-50%, 50%) rotate(180deg);
}

.bot-btn {
    bottom: 0;
    transform: translate(-50%, 50%) rotate(0deg);
}

.desc {
    background-color: var(--item-color);
    flex-grow: 10;
    margin: 0;
    border-radius: 20px;
    transition: height .5s, padding .5s .2s;
    overflow: auto;
    text-align: justify;
    font-size: 20px;
}

.desc:last-child {
    padding-bottom: 0;
}

.desc-title {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 10px;
    padding: 2px 5px;
    height: fit-content;
    border-radius: 1000px;
    background-color: #45537A;
}

.desc-title>img {
    height: var(--desc-title-img-size);
}

.desc-title>h3 {
    font-size: var(--pedia-title-size);
    color: white;
}

.desc>p {
    font-size: var(--pedia-paragrah-size);
    margin: 0;
    overflow: hidden;

}

.desc-title>h3 {
    margin: 0;
}

br {
    margin: 10px 0;

}

.shown-desc,
.shown-desc>p {
    height: fit-content;
    padding: 20px;
}

.hidden-desc,
.hidden-desc>p {
    height: 0;
    padding: 0;
    margin: 0;
}

.list-container {
    flex: 0 0 auto;
    width: fit-content;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    flex-flow: column nowrap;
    justify-content: start;
    gap: 0;
}

.food-tabs,
.items-tabs {
    flex: 0 0 auto;
    display: grid;
    grid-template-rows: 1fr;
    gap: 10px;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.food-tabs {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.items-tabs {
    grid-template-columns: 1fr 1fr;
}

.food-container {
    flex-grow: 10;
    width: 100%;
    position: relative;
}


.food-presentation {
    width: 100%;
    height: 100%;
    max-height: 100%;
    transition:
        height .2s ease-in-out,
        padding .2s ease-in-out;
    overflow: hidden;
    position: relative;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        "image type fav"
        "image spawn spawn";
    gap: 20px;
    padding: 20px;
    background-color: var(--menu-color-1);
    border-radius: 20px;
    box-sizing: border-box;
}

.presentation {
    width: 100%;
    height: 100%;
    max-height: 100%;
    transition: height .5s;
    overflow: hidden;
    position: relative;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 20px;
    padding: 20px;
    background-color: var(--menu-color-1);
    border-radius: 20px;
    box-sizing: border-box;
}

.presentation-resources {
    grid-template-rows: auto 1fr;
    grid-template-areas:
        "image desc desc"
        "image spawn spawn";

}

.presentation-toys {
    grid-template-rows: auto auto 1fr;
    grid-template-areas:
        "image desc desc"
        "image price fav"
        "image spawn spawn";
}

.food-type {
    grid-area: type;
}

.food-fav {
    grid-area: fav;
    cursor: var(--pointer-style);
}

.spawn-list-container {
    grid-area: spawn;
}

.infos-box {
    grid-area: desc;
}

.toy {
    overflow: hidden;
    height: 100%;
    transition: height .5s ease-in-out,
        margin .5s ease-in-out,
        padding .5s ease-in-out;
}

.toy-price {
    grid-area: price;
}

.toy-fav {
    grid-area: fav;
}

.toy-hide {
    display: none;
}