:root {
    --tab-icon-size: 50px;
}

@media (min-width: 2000px) {
    :root {
        --tab-icon-size: 75px;
    }
}

.tab {
    padding: 10px 20px;
    transition:
        background-color .2s,
        border-radius .2s,
        margin .2s,
        padding .2s;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    cursor: var(--pointer-style);
}

.tab:not(.selected-tab) {
    background-color: var(--menu-color-0);
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.selected-tab {
    padding-bottom: 20px;
    margin-bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.tab:hover,
.selected-tab {
    background-color: var(--menu-color-1);
}

.tab>img {
    width: var(--tab-icon-size);
    height: var(--tab-icon-size);
    transform: scale(.9);
    transition: transform .3s;
}

.tab:hover>img,
.selected-tab>img {
    transform: scale(1);
}

.tab>p {
    margin: 0 0 10px 0;
    text-align: center;
    color: var(--text-color);
    font-size: var(--small-text-size);
}