.weather-list,
.weather-info {
    margin: 0;
    background-color: var(--menu-color-1);
    border-radius: 20px;
    padding: 20px;
}

.weather-list {
    padding: 20px;
    flex: 0 0 auto;
    aspect-ratio: 1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px;
    overflow: clip;
}

.weather-info {
    flex: 1 1 auto;
}

.weather-element {
    position: relative;
    background-color: var(--item-color);
    border-radius: 20px;
    overflow: clip;
    z-index: 10;
}

.weather-element>*:not(video) {
    z-index: 10;
}

.weather-element-title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--item-color);
    border-radius: 20px 20px 0 0;
    transform: translateY(0);
    transform-origin: top;
    transition: transform 0.2s ease-in-out;
    z-index: 10;
}

.weather-element:hover>.weather-element-title {
    transform: translateY(-100%);
}

.weather-element-title>h1 {
    font-size: 1rem;
    font-weight: 700;
}

.weather-element>img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: 70%;
    transform: translate(-50%, -50%) scale(1);
    transform-origin: center;
    transition: transform 0.2s ease-in-out;
}

.weather-element:hover>img {
    transform: translate(-50%, -50%) scale(1.2);
}

.weather-element>h1 {
    flex: 0 0 auto;
    font-size: 1vh;
    font-weight: 700;
}

.weather-element>video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: 100%;
    z-index: 1;
    filter: opacity(0) blur(10px);
    transform: translate(-50%, -50%) scale(1);
    transform-origin: center;
    transition:
        filter 0.2s ease-in-out,
        transform 0.2s ease-in-out;
}

.weather-element:hover>video {
    filter: opacity(1) blur(0);
    transform: translate(-50%, -50%) scale(1.2);
}

.weather-info {
    grid-area: main;
    position: relative;
    border-radius: 20px;
    padding: 20px;
    gap: 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: "title" "content";
    overflow: hidden;
}

.weather-info>*:not(video) {
    z-index: 2;
}

.weather-info-title {
    grid-area: title;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto 1fr;
    grid-template-areas:
        "icon title"
        "icon description"
        "icon pedia";
    gap: 20px;
    color: white;
}

.weather-info-content {
    grid-area: content;
    display: grid;
    grid-template-columns: 1fr 1fr 700px;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    grid-template-areas:
        "effects effects spawn"
        "slimes related spawn";
    overflow: hidden;
}

.weather-info-content>div {
    position: relative;
    background-color: var(--item-color);
    border-radius: 20px;
    padding: 20px;
    overflow: clip;
}

.weather-info>video {
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    height: auto;
    object-fit: cover;
    z-index: 1;
}

.weather-info-title>*:not(video) {
    z-index: 10;
}

.weather-info-title>img {
    grid-area: icon;
    width: 12vw;
    /* Prendre toute la largeur disponible */
    height: auto;
    /* Garder les proportions de l'image */
    object-fit: cover;
    /* Couvrir toute la zone disponible */
}

.weather-info-title>h1 {
    grid-area: title;
    font-size: 5rem;
    font-weight: 700;
    text-align: left;
}

.weather-info-title>h2 {
    grid-area: description;
    font-size: 3rem;
    font-style: italic;
    font-weight: 500;
    text-align: left;
}

.weather-info-title>p {
    grid-area: pedia;
    font-size: 1.5rem;
    font-weight: 400;
    text-align: justify;
}

.effects-box {
    grid-area: effects;
}

.slimes-box {
    grid-area: slimes;
}

.related-box {
    grid-area: related;
}